:root {
  /* update these variables to easily theme your new web ring */
  --background-color: floralwhite;
  --text-color: salmon;
  --divider-color: skyblue;
  --link-color: cornflowerblue;
  --link-visited-color: darkmagenta;
  --link-hover-color: blueviolet;
  --link-active-color: yellow;
}

* {
  transition: all 0.2s;
}
html {
  font-family: "sans-serif";
  font-size: 16px;
}

@media (max-width: 600px) {
  html {
    font-size: 10px;
  }
}

html,
body {
  margin: 0;
  height: 100%;
  min-height: 100%;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

hr {
  background-color: var(--divider-color);
  height: 2px;
  border: 0;
}

main {
  align-self: center;
  flex: 1;
  margin: 0 1rem;
  max-width: 45rem;
  width: 100%;
}

article {
  margin: 0 1rem;
}

header {
  margin: 3rem 2rem 3rem;
}

h1 {
  font-size: 4rem;
  margin: 1rem 0;
}

h2 {
  font-size: 3rem;
  margin: 1rem 0;
}

p {
  font-size: 2rem;
  margin: 1rem 0;
}
header p {
  font-size: 2rem;
}

footer {
  padding: 1rem;
  text-align: right;
}

a:link {
  color: var(--link-color);
}
a:visited {
  color: var(--link-visited-color);
}
a:hover {
  color: var(--link-hover-color);
}
a:active {
  color: var(--link-active-color);
}
